
<!-- Angular 7 practice basic concepts -->

<!-- 
<div class="container">
    <div class="row">
        <div class="xs-12">
            <p>I am in App component</p>
            <hr>
            <app-servers></app-servers>            
        </div>
    </div>
</div> -->

<!-- Component Data binding concepts -->

<div class="container">
    <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)">
    </app-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
          <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
            <p>
            <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
            </p>              
          </app-server-element>
      </div>
    </div>
</div>

<!-- Recipe shopping list project -->

<!-- <app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <app-recipes></app-recipes>
            <app-shopping-list></app-shopping-list>
        </div>
    </div>
</div> -->
